.cproject
.project
.settings
.directory
Makefile.in
Makefile
dali.doxy
*~
*.o
*.o.d
*.pc
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/desktop
/packaging/home*
