.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
dali-builder
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/build/desktop
/packaging/home*
*.mo
