.cproject
.project
.settings
.directory
Makefile.in
Makefile
dali-adaptor.config
dali-adaptor.creator*
dali-adaptor.files
dali-adaptor.includes
*~
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
tags
/build/desktop
/packaging/home*

